<div><button {{action 'open'}}>Open Video File</button> {{file}}</div>

{{#if file}}
<p>Can Play check: {{if canPlay 'jup' 'nope'}}</p>

<div>
	{{#if canPlay}}
	<video src="file://{{file}}" controls style="max-height: 300px;"></video>
	{{/if}}
</div>
{{/if}}
